<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <ExcludeByFile>**/Migrations/*.cs</ExcludeByFile>
          <ExcludeByAttribute>GeneratedCodeAttribute</ExcludeByAttribute>
          <IncludeDirectory>$(SolutionDir)</IncludeDirectory>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>

  <RunConfiguration>
    <ResultsDirectory>TestResults</ResultsDirectory>
    <MaxCpuCount>0</MaxCpuCount>
    <TargetFrameworkVersion>net8.0</TargetFrameworkVersion>
    <CollectSources>true</CollectSources>
    <CollectCoverage>true</CollectCoverage>
  </RunConfiguration>

  <InProcDataCollectionRunSettings>
    <InProcDataCollectors>
      <InProcDataCollector 
          type="Microsoft.VisualStudio.TraceDataCollector.DataCollector, Microsoft.VisualStudio.TraceDataCollector, Version=15.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
      </InProcDataCollector>
    </InProcDataCollectors>
  </InProcDataCollectionRunSettings>

  <TestRunParameters>
    <Parameter name="MinCoverageThreshold" value="95" />
  </TestRunParameters>
</RunSettings>
